<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yin.lin.demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name="com.line.demo.html.ArticleWebActivity" />
        <activity android:name="com.line.demo.html.WebActivity" />
        <activity android:name="com.line.demo.html.ArticleRecyclerActivity" />
        <activity android:name="com.line.demo.html.ArticleActivity" />
        <activity android:name="com.line.demo.opengl.panorama.OpenGLActivity" />
        <activity android:name="com.line.demo.opengl.panorama.video360.GoogleVideoActivity" />
        <activity android:name="com.line.demo.opengl.SensorActivity" />
        <activity android:name="com.line.demo.yu.ChartActivity" />
    </application>
</manifest>