<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.yingfu.line">

    <application
        android:name="line.LineApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name="line.MainActivity">
        </activity>
        <activity android:name="line.line.IndexLineActivity">
        </activity>
        <activity android:name="line.scroller.ScrollViewActivity"/>
        <activity android:name="line.bezier.BezierActivity"/>
        <activity android:name="line.javafoundation.tree.TreeActivity"/>
        <activity android:name="line.svg.SVGActivity"/>
        <activity android:name="line.viewpager.ViewPagerActivity">
        </activity>
        <activity android:name="line.flutter.MyFlutterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>