<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yingfu.line">

    <uses-sdk tools:overrideLibrary="com.google.vr.widgets.pano,com.google.vr.widgets.common,com.google.vr.sdk.widgets.pano,com.google.vr.cardboard" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yin.line.base.LineApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity android:name="line.view.scroller.ScrollWebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="line.view.anim.AnimActivity" />
        <activity android:name="line.view.bookpager.BookPageActivity" />
        <activity android:name="line.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="line.view.line.IndexLineActivity" />
        <activity android:name="line.view.scroller.ScrollViewActivity" />
        <activity android:name="line.view.bezier.BezierActivity" />
        <activity android:name="line.view.svg.SVGActivity" />
        <activity android:name="line.view.viewpager.ViewPagerActivity" /> <!-- <activity android:name="line.flutter.MyFlutterActivity" /> -->
        <activity android:name="line.view.viewpager.NestedViewPagerActivity" /> <!-- <activity android:name="line.flutter.MyFlutterActivity" /> -->

    </application>

</manifest>