a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
    font-style: inherit;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    font-weight: 400;
    text-align: left;
    vertical-align: middle
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block
}

body,
html {
    margin: 0;
    padding: 0
}

html {
    -webkit-text-size-adjust: none
}

* {
    color: inherit;
    font-size: inherit;
    line-height: inherit
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
body div,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    background: transparent;
    border: 0;
    vertical-align: baseline
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    width: 100%;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
    font-family: Microsoft Yahei, Tahoma, Arial, sans-serif;
    background-color: #f4f4f4
}

embed,
img,
object {
    max-width: 100%
}

ul {
    list-style: none
}

a {
    z-index: 1;
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

img {
    vertical-align: middle
}

.clearfix:after,
.clearfix:before {
    display: block;
    height: 0;
    content: "\0020";
    overflow: hidden
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #fff
}

.topic__main {
    padding: 2.66666667vw 4.26666667vw
}

.topic__main p,
.topic__main span {
    letter-spacing: .26666667vw!important
}

p {
    word-wrap: break-word
}

p span {
    white-space: pre-wrap!important
}

strong {
    font-weight: bolder
}

.topic__main img {
    display: block;
    width: 100%!important;
    height: auto!important;
    border-radius: 1.6vw
}

.placeholder {
  background: no-repeat center #f5f7fa;
}

.wutu {
    position: relative;
    width: 100%;
    height: 30vw;
}
.wutu::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 30vw;
    background: url('ic_pretty_error.png') no-repeat center center;
    background-size: contain;
}

.topic__main p {
    font-size: 4.26666667vw!important;
    line-height: 7.46666667vw;
    color: #111;
    text-align: left
}

.topic__main ul {
    list-style: disc;
    padding-left: 5.33333333vw
}

.topic__main ol {
    list-style: decimal;
    padding-left: 5.33333333vw
}

.topic__main li {
    font-size: 4.26666667vw!important;
    line-height: 7.46666667vw
}

.topic__main h1,
.topic__main h2,
.topic__main h3,
.topic__main h4,
.topic__main h5 .topic__main h6 {
    font-size: 5.33333333vw!important;
    line-height: 1.8
}

.topic__main .jump-user {
    color: #5470ba;
    cursor: pointer;
    font-weight: 400
}

.topic__main .ql-align-center {
    text-align: center
}

.topic__main .ql-align-right {
    text-align: right
}

.topic__main .ql-align-justify {
    text-align: justify
}

.topic__main blockquote {
    font-size: 4.26666667vw!important;
    line-height: 7.46666667vw;
    color: #111;
    text-align: left
}